.HomeImage {
    border-radius: 50%;
    width: 600px;
    height: 600px;
    top: 40%;
}

.HomeContainer {
    width: 100vw;
    
    position: relative;
    bottom: 0;
    padding: 50px;
}

.CenterImage {
    display: flex;
    align-items: center;
}

.MPortfolioTitle {
    font-family: monospace, sans-serif;
    font-size: 5vh;
}

.MContactImg {
    width: 40vw;
    height: 60vh;
}