/*HomePage*/
.FixedHeightContainer {
    overflow-y: scroll;
    width: 1000px;
    height: 700px;
    background: #fff;
    padding-top: 15px;
}

.PortfolioContainer {
    padding: 50px;
}

/*LandingPage*/
.LandingBlock {
    margin-top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*All pages (for footer position)*/
.ContentWrap {
    padding-bottom: 3.5rem; 

}

.PageContainer {
    position: relative;
    max-width: 100%;
    min-height: calc(100vh - 7rem);
}

.SignBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin-top: 20vh;
}

.SignForm {
    width: 50%;
    border: solid;
    margin: auto;
}

.SignSubmit {
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 10px;
}

.SignTextBox {
    width: 90%;
    align-items: center;
    margin: auto;
}

.SignInputBox {
   width: 100%;
   font-variant: normal;
   
}

/*Landing*/
.Landing {
    width: 50%;
    margin-top: 20vh;
    text-align: center;
    margin: 20px;
}


/*footer.js*/
.Footer {
    height: 3.5rem;
    width: 100%;
    bottom: 0;
    position: static;
    background: #D9D4D2;
    padding: 5px;
    clear: both;

}

.FooterRoot {
    display: flex;
    flex-direction: column;
}

/*general styles (add fonts)*/
.TextCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.VerticalAlign {
    flex-direction: column;
}

.HorizontalAlign {
    flex-direction: row;
    align-self: center;
}

.HomePagePhoto {
	width: 450px;
    height: 450px;
}

.white {
    color: white
}


/* PortfolioList.js styles */
.PortfolioImage {
    max-width: 128;
    max-height: 128;
}

.PortfolioRoot {
    flex-grow: 1;
    max-width: 2000;
    padding: 1;
}

.PortfolioListPaper {
    width: fit-content;
    max-width: 2000px;
    padding: 6vh;
    margin: auto;
    flex-direction: column;
}

.PortfolioListRoot {
	width: 100%;
    margin: 1vh;
    padding: 30;
}

.PortfolioBottonRoot {
    width: fit-content;
}


.PortfolioRow {
	width:fit-content;
    max-width: 2000px;
	padding: 45px;
    margin: 2vh;
    background-color: aliceblue;
}


/*profile edit styles*/
.ProfileForm {
    margin: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.ProfileRoot {
    margin: 10px;
}

.PorfileFieldRoot {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}

.ProfileButton {
    margin-top: 5px;
}

.PortfolioPageContent {
    width: 100vmax;
    padding: 5vh;
    margin: 5vh;
    background-color: #f7f7f7;
}


