/*HomePage*/
.FixedHeightContainer {
    overflow-y: scroll;
    width: 70vw;
    max-height: 70vh;
    background-color: rgb(223, 232, 241);
    padding: 15px;
}

.HomePageSectionTitle {
    margin-top: 10vh;
    margin-left: 5vh;
    display: flex;
}

.HomePageSection {
    margin: 5vh;
    display: flex;
}

.PortfolioContainer {
    padding: 50px;
}

/*LandingPage*/
.LandingBlock {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*All pages (for footer position)*/
.ContentWrap {
    padding-bottom: 3.5rem; 

}

.PageContainer {
    position: relative;
    max-width: 100%;
    min-height: calc(100vh - 7rem);
}

/*signin and signup*/
.SignBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin-top: 20vh;
}

.SignForm {
    width: 50%;
    border: solid;
    margin: auto;
}

.SignSubmit {
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 10px;
}

.SignTextBox {
    width: 90%;
    align-items: center;
    margin: auto;
}

.SignInputBox {
   width: 100%;
   font-variant: normal;
   
}

/*Landing*/
.Landing {
    width: 800px;
    margin-top: 18%;
    text-align: center;
    margin-bottom: 18%;
}


/*footer.js*/
.Footer {
    height: 4.5rem;
    width: 100%;
    bottom: 0;
    position: static;
    background: #D9D4D2;
    padding: 5px;
    clear: both;

}

.FooterRoot {
    display: flex;
    flex-direction: column;
}

/*general styles (add fonts)*/
.TextCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.VerticalAlign {
    flex-direction: column;
}

.HorizontalAlign {
    flex-direction: row;
    align-self: center;
}

.CenterAlign {
    vertical-align: auto;
}

.HomePagePhoto {
	width: 450px;
    height: 450px;
}

.white {
    color: white
}


/* PortfolioList.js styles */
.PortfolioImage {
    max-width: 128;
    max-height: 128;
}

.PortfolioRoot {
    flex-grow: 1;
    max-width: 2000;
    padding: 1;
}

.PortfolioListPaper {
    width: fit-content;
    max-width: 2000px;
    padding: 6vh;
    margin: auto;
    flex-direction: column;
}

.PortfolioListRoot {
	width: 100%;
    margin: 1vh;
    padding: 30;
}

.PortfolioBottonRoot {
    width: fit-content;
}


.PortfolioRow {
	width: 80%;
    margin: 2vh;
    background-color: white;

}

.PortfolioListSize {
    width: 70vw;
    position: relative;
    left: 14%;
}


/*profile edit styles*/
.ProfileForm {
    margin: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.ProfileRoot {
    margin: 10px;
}

.PorfileFieldRoot {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}

.ProfileButton {
    margin-top: 5px;
}

.PortfolioPageContent {
    width: 100vmax;
    padding: 5vh;
    margin: 5vh;
    background-color: #f7f7f7;
}


